@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #F9FAFB inset !important;
  -webkit-text-fill-color: #1A1F27 !important;
  transition: background-color 9999s ease-in-out 0s;
}